<%- include("partials/header.ejs") %> 

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-12">
            <!-- Featured blog post-->
          
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <% dbBlogYazilari.forEach((d)=>{ %> 
                      <!-- Blog post-->
                      <div class="card mb-4 col-sm">
                        <a href="<%= d.link %>"><img class="card-img-top" src="<%= d.img %>" alt="<%= d.imgAlt %>" /></a>
                        <div class="card-body">
                            <div class="small text-muted"><%= d.tarih %></div>
                            <h2 class="card-title h4"><%= d.baslik %></h2>
                            <p class="card-text"><%= d.yazi %>.</p>
                            <a class="btn btn-primary" href="<%= d.link %>">Devamını Oku →</a>
                        </div>
                    </div>

                <% }) %> 
                  
                    
               
               
            </div>

        </div>
        <!-- Side widgets-->
      
  
    </div>
</div>

<%- include("partials/footer.ejs") %> 
